 
<div class="w-1/2 mx-auto">
<form [formGroup]="levelForm" (change)="getLevel(levelForm.value)">

  <select formControlName="level"
  class="form-select form-select-lg mb-3 appearance-none block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 mt-5 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
  aria-label=".form-select-lg example"
>
  <option selected>Choose a Level</option>
  <option value="LL">Lower Level</option>
  <option value="17">Floor 17</option>
  <option value="18">Floor 18</option>
  <option value="19">Floor 19</option>
  <option value="20">Floor 20</option>
  <option value="21">Floor 21</option>
  <option value="22">Floor 22</option>
</select>

</form>
</div>

<p class="w-2/12 mx-auto text-center bg-amber-500 p-3 my-3 rounded-full text-white"> <fa-icon [icon]="faClock"></fa-icon> Current Time Frame - 12:00 AM</p>
 
 <app-single-level ></app-single-level>